In [11]:
import pandas as pd
import csv

In [4]:
df = pd.DataFrame.from_csv('sample_emissions.csv', header=0)

In [9]:
world_df = df[df.index == 'World']

In [10]:
world_df

         Year  Emissions
Country
World    2008   30835.18
World    2009   30510.22
World    2010   32313.03
World    2011   33397.61
World    2012   33730.18
World    2013   34389.60

In [12]:
world_df.to_csv('world_emissions.csv')

In [13]:
df.drop('World', axis=0, inplace=True)

In [14]:
df

                      Year  Emissions
Country
Afghanistan           2008       4.21
Albania               2008       4.17
Algeria               2008     105.91
Angola                2008      25.28
Antigua & Barbuda     2008       0.48
Argentina             2008     183.07
Armenia               2008       5.65
Australia             2008     394.96
Austria               2008      72.28
Azerbaijan            2008      29.60
Bahamas, The          2008       1.49
Bahrain               2008      24.83
Bangladesh            2008      45.85
Barbados              2008       1.62
Belarus               2008      60.54
Belgium               2008     107.11
Belize                2008       0.38
Benin                 2008       4.50
Bhutan                2008       0.42
Bolivia               2008      13.00
Bosnia & Herzegovina  2008      20.94
Botswana              2008       4.39
Brazil                2008     377.74
Brunei                2008       7.34
Bulgaria              2008      50.85
Burkina Faso          2008       1.92
Burundi               2008       0.19
Cambodia              2008       4.15
Cameroon              2008       8.32
Canada                2008     553.00
...                    ...        ...
Spain                 2013     241.87
Sri Lanka             2013      15.23
Sudan                 2013      13.53
Suriname              2013       2.00
Swaziland             2013       1.09
Sweden                2013      38.91
Switzerland           2013      43.90
Syria                 2013      32.46
Tajikistan            2013       3.72
Tanzania              2013      11.58
Thailand              2013     268.49
Togo                  2013       2.29
Tonga                 2013       0.21
Trinidad & Tobago     2013      24.44
Tunisia               2013      27.56
Turkey                2013     319.55
Turkmenistan          2013      68.07
Uganda                2013       4.89
Ukraine               2013     269.66
United Arab Emirates  2013     185.79
United Kingdom        2013     455.85
United States         2013    5156.35
Uruguay               2013       7.56
Uzbekistan            2013      99.77
Vanuatu               2013       0.11
Venezuela             2013     186.16
Vietnam               2013     160.07
Yemen                 2013      25.92
Zambia                2013       3.45
Zimbabwe              2013      12.36

[1122 rows x 2 columns]

In [15]:
df.describe()

              Year     Emissions
count  1122.000000   1122.000000
mean   2010.500000    201.095143
std       1.708587    842.245768
min    2008.000000      0.010000
25%    2009.000000      2.240000
50%    2010.500000     11.855000
75%    2012.000000     70.010000
max    2013.000000  10183.730000

In [16]:
df.to_csv('country_emissions.csv')